language: node_js
sudo: required
dist: bionic
group: deprecated-2017Q
addons:
  chrome: stable
node_js:
  - '8.9'

cache:
  directories:
    - node_modules
    
install: 
  - npm install

before_script:
  - npm install
  - npm run-script webdriver
script:
  - npm test